@{
    ViewData["Title"] = "Home Page";
}

<div class="container justify-content-center">
    <div class="mb-4">
        <h2 class="text-center">Welcome to Vidly</h2>
        <p class="text-center">A simple video renting application built with ASP.NET Core MVC.</p>
    </div>
    <hr />

    <div class="container mb-5">
        <div class="card-deck">
            <div class="card">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal text-center">Core Technology Stack</h4>
                </div>
                <div class="card-body">
                    <ul>
                        <li class="text-center">C#</li>
                        <li class="text-center">.Net Core</li>
                        <li class="text-center">HTML</li>
                        <li class="text-center">CSS</li>
                        <li class="text-center">Javascript</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal text-center">Framework, Libraries and Plugins</h4>
                </div>
                <div class="card-body">
                    <ul>
                        <li class="text-center">ASP.NET Core, EntityFramework Core</li>
                        <li class="text-center">Automapper</li>
                        <li class="text-center">Bootstrap</li>
                        <li class="text-center">jQuery</li>
                        <li class="text-center">Datatables, Toastr, Bootbox, Typeahead</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="width: 100%; line-height : 1.5em">
        <div class="card-body">
            <h5 class="card-title text-center">Start Using Now?</h5>
            <p class="card-text text-center">You can login with built in admin account with <b>Email : admin@mail.com</b> and <b>password : Admin@123</b> </p>
            <p class="card-text text-center">For guest user you can login with <b>Email : guest@mail.com</b> and <b>passowrd : Guest@123</b></p>
            <p class="card-text text-center">Or you can register your own account and test!</p>
            <div class="row justify-content-center">
                <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-lg btn-primary" style="margin : auto 0;">Login</a> &nbsp;
                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-lg btn-primary" style="margin : auto 0;">Register</a>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        height: 100%;
    }

    body {
        align-items: center;
    }

    li {
        list-style: none
    }

    button {
        margin: 1em;
    }
</style>